<div class="contenedor">
    <div class="usuarios">
        <h3>CHAT</h3>
        <form>
            <input class="buscar" type="text" placeholder="Busca un chat" [formControl]="formUsuarios">
        </form>
        <div class="users">
            <div class="user2" *ngFor="let usuario of usuarios">
                <p class="user3">{{usuario.nombre}}</p>
                <img class="imgChat" src="{{usuario.foto}}" alt="">
            </div>
        </div>
    </div>
    <div class="mensajes">
        <div class="comunicacion">
            <div #mensajes>

            </div>
        </div>
        <div class="enviar">
            <input class="texto" type="text" placeholder="Escribe aqui tu mensaje" #input1>
            <button (click)="enviar(input1.value)">ENVIAR</button>
        </div>
    </div>

</div>