<div class="contenedor">
    <div class="contenedor2">
    <div class="perfil">    
    <div class="datos">
        <div class="titulos">
            <h3>MI PERFIL</h3>
        </div>
        <div class="datos2">
            <div><img src="{{this.usuario.foto}}" alt=""></div>
            <div class="datos3"><p>{{this.usuario.nombre}} {{this.usuario.apellidos}}</p></div>
            <div class="datos4"><p>{{this.usuario.email}}</p></div>
        </div>
        </div>
    </div>
    <div class="sombra">
        <div class="datos">
        <div class="titulos">
            <h3>MODIFICA TUS DATOS</h3>
        </div>
        
            <div class="datos2">
                <label for="">Introduce nombre</label>
                <input type="text" id="nombre" disabled value={{this.usuario.nombre}} #input1>
                <label for="">Introduce apellidos</label>
                <input type="text" disabled value={{this.usuario.apellidos}} #input2>
                <label for="">Introduce e-mail</label>
                <input type="text"disabled value={{this.usuario.email}} #input3>
                <label for="">Introduce la url de tu foto</label>
                <input type="text" disabled value={{this.usuario.foto}} #input4>
                <label for="">Introduce la nueva contraseña </label>
                <input type="password" disabled value={{this.usuario.password}} #input5>
                
                <button class="button" *ngIf="editar" (click)="activar(input1, input2, input3, input4, input5)">EDITAR</button>
                <button class="button" *ngIf="guardar" (click)="enviar(input1.value, input2.value, input3.value, input4.value, input5.value, usuario.id_usuario)" 
                (click)="desactivar(input1, input2, input3, input4, input5)" data-bs-toggle="modal" data-bs-target="#modalPerfil">GUARDAR</button>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- Perfil Modal -->
<div class="modal" id="modalPerfil" tabindex="-1" aria-labelledby="ModalPerfilLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modalHeader">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <ng-container>
                <div class="modal-body">Información editada correctamente.</div>
            </ng-container>
            
        </div>
    </div>
</div>