<div class="contenedor">
    <div class="contenedor2">
    <div class="perfil">    
    <div class="datos">
        <div class="titulos">
            <h3>MI PERFIL</h3>
        </div>
        <div class="datos2">
            <div><img src="{{this.usuarioServicio.usuario2.foto}}" alt=""></div>
            <div class="datos3"><p>{{this.usuarioServicio.usuario2.nombre}} {{this.usuarioServicio.usuario2.apellidos}}</p></div>
            <div class="datos4"><p>{{this.usuarioServicio.usuario2.email}}</p></div>
        </div>
        </div>
    </div>
    <div class="sombra">
        <div class="datos">
        <div class="titulos">
            <h3>MODIFICA TUS DATOS</h3>
        </div>
        
            <div class="datos2">
                <label for="">Introduce nombre</label>
                <input type="text" id="nombre" disabled placeholder={{this.usuarioServicio.usuario2.nombre}} #input1>
                <label for="">Introduce apellidos</label>
                <input type="text" disabled placeholder={{this.usuarioServicio.usuario2.apellidos}} #input2>
                <label for="">Introduce e-mail</label>
                <input type="text"disabled placeholder={{this.usuarioServicio.usuario2.email}} #input3>
                <label for="">Introduce la url de tu foto</label>
                <input type="text" disabled placeholder={{this.usuarioServicio.usuario2.foto}} #input4>
                <label for="">Introduce la nueva contraseña </label>
                <input type="password" disabled placeholder="*********" #input5>
                
                <button *ngIf="editar" (click)="activar(input1, input2, input3, input4, input5)">EDITAR</button>
                <button *ngIf="guardar" (click)="enviar(input1, input2, input3, input4, input5)">GUARDAR</button>
            </div>
        </div>
    </div>
    </div>
</div>
