<div class="general">
    
    <div class="photo">
        <div class="img"></div>
    </div>
    <div class="formulario">
        <div><h2>REGÍSTRATE Y ÚNETE A LA COMUNIDAD</h2></div>  
        <div class="inputs">
            <form [formGroup]="myForm">   
                
                <div class="inputsHijo">    
                    <div class="form-group">
                    <select id="tapa" name="tapa" class="form-group" formControlName="tipoUsuario" #input1
                    [ngClass]="{'is-invalid': (myForm.get('tipoUsuario').dirty || myForm.get('tipoUsuario').touched)
                            && !myForm.get('tipoUsuario').valid}">                    
                        <option class="option" value="Elige un tipo de usuario" hidden selected disabled>Elige un tipo de usuario</option>
                        <option class="option" value="Productor">Productor</option>
                        <option class="option" value="Consumidor">Consumidor</option>                                
                    </select>                  
                    <div id="aviso" *ngIf="!myForm.get('tipoUsuario').valid" class="invalid-feedback">La categoría es obligatoria.</div>
                </div>
                      
                <div class="form-group">
                    <input class="form-group" type="text" formControlName="name" #input2
                    placeholder="Nombre"
                    [ngClass]="{'is-invalid': (myForm.get('name').dirty || myForm.get('name').touched)
                    && !myForm.get('name').valid}">
                    <div id="aviso" *ngIf="!myForm.get('name').valid" class="invalid-feedback">El nombre es obligarotio</div>
                </div>
                   
                <div class="form-group">
                    <input class="form-group" type="text" formControlName="lastName" #input3
                    placeholder="Apellidos"
                    [ngClass]="{'is-invalid': (myForm.get('lastName').dirty || myForm.get('lastName').touched)
                    && !myForm.get('lastName').valid}">
                    <div id="aviso" *ngIf="!myForm.get('lastName').valid" class="invalid-feedback">El apellido es obligatorio</div>
                </div>
                  
                <div class="form-group">
                    <input class="form-group" type="email" formControlName="email" #input4
                    placeholder="e-mail"
                    [ngClass]="{'is-invalid': (myForm.get('email').dirty || myForm.get('email').touched)
                    && !myForm.get('email').valid}">
                    <div id="aviso" *ngIf="!myForm.get('email').valid" class="invalid-feedback">
                        <div *ngIf="!myForm.get('email').errors.required">El e-mail es obligatorio</div>
                        <div *ngIf="!myForm.get('email').errors.email">E-mail erróneo</div>
                
                    </div>
                </div>
                  
                <div class="form-group">
                    <input class="form-group" type="password" formControlName="password" #input5
                    placeholder="Password"
                    [ngClass]="{'is-invalid': (myForm.get('password').dirty || myForm.get('password').touched)
                    && !myForm.get('password').valid}">
                    <div id="aviso" *ngIf="!myForm.get('password').valid" class="invalid-feedback">
                        <div *ngIf="!myForm.get('password').errors.required">La contraseña es obligatoria</div>
                        <div *ngIf="!myForm.get('password').errors.minlength">Contraseña errónea</div>
                
                    </div>
                </div>
                  
                <div class="form-group">
                    <input class="form-group" type="password" formControlName="password2" #input6
                    placeholder="Repite la Password"
                    [ngClass]="{'is-invalid': (myForm.get('password2').dirty || myForm.get('password2').touched)
                    && !myForm.get('password2').valid}">
                    <div id="aviso" *ngIf="!myForm.get('password2').valid" class="invalid-feedback">
                        <div *ngIf="myForm.get('password2').errors.required">Repetir contraseña es obligatorio</div>
                        <div *ngIf="!myForm.get('password2').errors.required &&
                                myForm.get('password2').errors.matchPassword">Las contraseñas no coinciden</div>
                    </div>
                </div>
                <div>
                <button class ="button" (click)="register(input1.value, input2.value, input3.value, input4.value, input5.value, input6.value)" [disabled]="myForm.invalid" data-bs-toggle="modal" data-bs-target="#modalRegistro">REGÍSTRATE</button>
                <p class="texto">Si ya estás registrado accede a través del <a href="/login">login</a></p>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Registro Modal -->
<div class="modal fade" id="modalRegistro" tabindex="-1" aria-labelledby="modalRegistro" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modalHeader">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="redir()"></button>
        </div>
        
        <ng-container *ngIf="registrado == true">
            <div class="modal-body">Usuario registrado correctamente.</div>
        </ng-container>
        <ng-container *ngIf="registrado == false && tipoSelect == false">
            <div class="modal-body">El tipo de usuario es necesario.</div>
        </ng-container>
        <ng-container *ngIf="registrado == false && tipoSelect == true">
            <div class="modal-body">El usuario ya existe.</div>
        </ng-container>
        
    </div>
    </div>
</div>