.general{
    height: 86vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}


.photo{
    
    height: 86vh;
    width: 20%;
    background-image: url(../../../assets/photoRegistro.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}
.img{
    background-color:rgba(6, 6, 6, 0.33);
    height: 86vh;
    width: 100%;    
}

.formulario{    
    height: 86vh;
    width: 80%;
    background-color: var(--marronMedio);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs{
    /* padding-top: 15px;     */
    border-radius: 15px;
    height: 85%;
    width: 90%;
    background-color:rgba(6, 6, 6, 0.33);
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;  
    
}
.formmm{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 80%;
}
.inputsHijo{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 400px;
}
h2{
    color:var(--marronOscuro);
    margin-top:10px;
    font-family: var(--JejuHallasan);
}
select{
    font-family: var(--links);
    border: solid var(--mostaza) 2px;
    background-color: var(--inputColor);
    border-radius: 10px;
    height: 35px;
    width: 386px;
    font-size: 12px;
    margin-top: 5px;
}
.option{    
    font-family: var(--links);
    font-size: 12px;
    border: solid var(--mostaza) 2px;
    background-color: var(--inputColor);
    padding: 15px;
    border-radius: 10px;    
}
.modal{
    position: fixed ;
    top:calc(35% + 200px) ;
    left: calc(46% + 100px) ;
    transform: translate(-50%, -50%) ;
}
input{
    font-family: var(--links);
    font-size: 12px;
    border: solid var(--mostaza) 2px;
    background-color: var(--inputColor);
    padding: 15px;
    border-radius: 10px;
    height: 35px;
    width: 386px;
}
.button{
    border: solid var(--mostaza) 2px;
    height: 35px;
    width: 386px;
    border-radius: 15px 45px 15px 45px;
    background-color: var(--mostaza);
    color:var(--marronOscuro);
    font-family: var(--letraBoton);
    cursor:pointer;
}
button:disabled {    
    opacity: 0.5; 
    cursor: not-allowed; 
}
.texto{
    font-size: 14px;
    color:var(--blanco);
    font-family: var(--links);
    width: 386px;     
    text-align: center;
    margin-top: 3px;
}
#aviso{
    font-size: 14px;
    color:var(--blanco);
    font-family: var(--links);
    width: 386px;     
    text-align: left;
}
a{
    color: #37B7FF;
}
.modalHeader{
    width: 350px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-top: 20px;
    padding-right: 10px; 
}
.modal-dialog{
    display: flex;
    justify-content: end;
}
.modal-content{
    height: 100px;
    width: 350px;
    background-color: var(--marronMedio);
    color: var(--marronOscuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-size: 12pt;
    border-radius: 10px; 
    border: var(--marronNegro) solid 2px;  
}
.btn-close{
    justify-content: end;
    height: 20px;
    width: 20px;
}