.card{
    height: 340px;
    width: 620px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--inputColor);
    border-radius: 10px;
    margin: 15px; 
}
#img{
    width: 145px;
    height: 190px ;
    position: absolute;
    margin-left: 450px;
    margin-top: -40px;   
    border-radius: 10px;
}
p{
    width: fit-content;
    margin-left: 15px;
}
h3{
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color:rgba(6, 6, 6, 0.33);
    color:var(--blanco);
    font-family: var(--links);
    font-size: 24px;
    padding-left: 15px;
    padding-top: 4px;
}
.loc{ 
    width: 110px;;
}
.enunciado{
    display:flex;
    flex-direction: row;
    margin:-7px;
}

#descripcion{
    
    width: 280px;
    height: 100px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap:wrap;
    text-align: inherit;
} 

.modificar{
    position: absolute;
    margin-left: 450px;
    margin-top: -100px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid var(--mostaza);
    font-family: var(--letraBoton);
    cursor: pointer;
    background-color: var(--marronOscuro);
    color: var(--mostaza);
}
.eliminar{
    position: absolute;
    margin-left: 450px;
    margin-top: -50px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid var(--mostaza);
    font-family: var(--letraBoton);
    cursor: pointer;
    background-color: var(--marronOscuro);
    color: var(--mostaza);
}
.eliminar2{
    position: absolute;
    margin-left: 450px;
    margin-top: 150px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid var(--mostaza);
    font-family: var(--letraBoton);
    cursor: pointer;
    background-color: var(--marronOscuro);
    color: var(--mostaza);
}
.contactame{
    position: absolute;
    margin-left: 450px;
    margin-top: 250px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid var(--mostaza);
    font-family: var(--letraBoton);
    cursor: pointer;
    background-color: var(--marronOscuro);
    color: var(--mostaza);
}
.card{
    height: 340px;
    width: 620px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--inputColor);
    border-radius: 10px;
    margin: 8px;  
    padding-bottom: 5px;
}
#img{
    width: 145px;
    height: 190px ;
    position: absolute;
    margin-left: 450px;
    margin-top: -40px;   
    border-radius: 10px;
}
p{
    width: fit-content;
    margin-left: 15px;
}
h3{
    height: 40px;
    width: 100%;
    margin-top: 10px;
    background-color:rgba(6, 6, 6, 0.33);
    color:var(--blanco);
    font-family: var(--links);
    font-size: 24px;
    padding-left: 15px;
    padding-top: 4px;
}
.loc{ 
    width: 110px;;
}
.enunciado{

    display:flex;
    flex-direction: row;
}
#descripcion{
    width: 280px;
}
.reservar{
    position: absolute;
    margin-left: 450px;
    margin-top: 150px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid var(--mostaza);
    font-family: var(--letraBoton);
    cursor: pointer;
    background-color: var(--marronOscuro);
    color: var(--mostaza);
}
.modal-content{
    background-color: var(--marronMedio);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modalHeader{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: large;
    color: var(--marronOscuro);
    padding: 8px;
    padding-left: 160px;
    padding-right: 20px;
    padding-top: 20px;
}
.modalHeader2{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 8px;
}
.modal-body1{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
}
.text1{
    height: 260px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin: 10px;
    margin-left: 40px;
}
.text2{
    height: 260px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    margin-right: 40px;
}
input{
    font-family: var(--links);
    font-size: 12px;
    border: solid var(--mostaza) 2px;
    background-color: var(--inputColor);
    border-radius: 10px;
    height: 35px;
    width: 200px;
    padding: 5px;
}
select{
    font-family: var(--links);
    font-size: 12px;
    border: solid var(--mostaza) 2px;
    background-color: var(--inputColor);
    border-radius: 10px;
    height: 35px;
    width: 200px;
    color: gray;
}
.modal-body2{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px 20px 20px;
    
}
.labelEliminar{
    font-size: medium;
    color:var(--blanco);
    font-family: var(--links);
    width: 100%;     
    text-align: center;  
    flex-wrap: nowrap;
    margin-bottom: 20px;
    color: var(--marronOscuro);
}
.inputsEliminar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.descripcion{
    font-family: var(--links);
    font-size: 12px;
    border: solid var(--mostaza) 2px;
    background-color: var(--inputColor);
    border-radius: 10px;
    height: 100px;
    width: 200px; 
    padding: 6px;
}
form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.boton{
    border: solid var(--mostaza) 2px;
    height: 35px;
    width: 200px;
    border-radius: 15px 45px 15px 45px;
    background-color: var(--mostaza);
    color:var(--marronOscuro);
    font-family: var(--letraBoton);
    cursor:pointer;
    text-align: center;
}
