.footer{
    height: 7vh;
    width: 100vw;
    background-color: var(--navbarColor); 
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
a{
    text-decoration: none;
    color: var(--mostaza);
    font-family: var(--links);
    cursor: pointer;
}
a:focus{
    color:var(--blanco);
    text-decoration: underline;
}