<div class="header">
    <!-- <ng-container *ngIf="usuarioService.logueado == false; else UserLinks" > -->
    <a routerLink= "/landing">INICIO</a>
    <a routerLink= "/registro">REGISTRO</a>
    <a routerLink= "/login">LOGIN</a>
    <!-- </ng-container> -->
    <!-- <ng-template #UserLinks> -->
    <a routerLink= "/actividades">ACTIVIDADES</a>
    <a routerLink= "/misReservas">MIS RESERVAS</a>
    <a routerLink= "/perfilUsuario">MI PERFIL</a>
    <a routerLink= "/login">DESCONECTAR</a>    
    <!-- </ng-template> -->
    <!-- <ng-template #User2Links>     -->
    <a routerLink= "/misEventos">MIS EVENTOS</a>
    <a routerLink= "/nuevoEvento">NUEVO EVENTO</a>
    <a routerLink= "/perfilProdutor">MI PERFIL</a>
    <!-- <a routerLink= "/login">DESCONECTAR</a> -->
    <!-- </ng-template>   -->

</div>

    
