<div class="header">
    <ng-container *ngIf="usuarioServicio.logueado == true ; else LinksInicio">    
        <ng-container  *ngIf= "usuarioServicio.usuarioLogueado.tipoUsuario == 'Consumidor'"> 
            <a routerLink= "/actividades">ACTIVIDADES</a>
            <a routerLink= "/misReservas">MIS RESERVAS</a>
            <a routerLink= "/perfilUsuario">MI PERFIL</a>
            <a (click)="logOut()" routerLink= "/login">LOGOUT</a>    
        </ng-container>
        <ng-container *ngIf="usuarioServicio.usuarioLogueado.tipoUsuario == 'Productor'"> 
            <a routerLink= "/misEventos">MIS EVENTOS</a>
            <a routerLink= "/nuevoEvento">NUEVO EVENTO</a>
            <a routerLink= "/perfilProductor">MI PERFIL</a>
            <a (click)="logOut()" routerLink= "/login">LOGOUT</a>
        </ng-container> 
    </ng-container>
    <ng-template #LinksInicio>
    <a routerLink= "/landing">INICIO</a>
    <a routerLink= "/registro">REGISTRO</a>
    <a routerLink= "/login">LOGIN</a>
    </ng-template>   
    
</div>

    
