
<div class=contenedor>
    <div class="photo"></div>
  
    <div class="formulario">
        <h2>CREA TU EVENTO</h2>
        <div class="textos">
            <div class="text1">
                <form class="inputs" action="" >
                    <label for="">Introduce el título del evento</label>
                    <input type="text" #input1
                    placeholder="Título">
                    <label for="">Elige la categoría</label>
                        <select #input2 name="Categoría">
                            <option value="" disabled selected>Elige una opcion</option>
                            <option value="Artesania">Artesanía</option>
                            <option value="Ganaderia">Ganadería</option>
                            <option value="Culinario">Culinario</option>
                            <option value="Agricola">Agrícola</option>
                        </select> 
                        <label for="">Indica la fecha</label>
                    <input type="text" #input3
                    placeholder="Fecha">
                    <label for="">Describe tu evento</label>
                    <input class="descripcion" type="text" #input8
                    placeholder="Descripción">
                </form> 
            </div>
            <div class="text2">
                <form class="inputs" action="" >
                    <label for="">Especifíca el municipio</label>
                    <input type="text" #input4
                    placeholder="Municipio">  
                    <label for="">Especifíca la provincia</label>
                    <input type="text" #input5
                    placeholder="Provincia">
                    <label for="">Indica el aforo máximo</label>  
                    <input type="text" #input6
                    placeholder="Aforo">    
                    <label for="">Introduce el precio por persona</label> 
                    <input type="text" #input7
                    placeholder="Precio">  
                    <label for="">Inserta la url de una imagen</label> 
                    <input type="text" #input9
                    placeholder="Imagen"> 
                                
                    <div class="boton" type="button" (click)="enviar(input1.value, 
                    input2.value, input3.value, input4.value, 
                    input5.value, input6.value, input7.value, input8.value, input9.value)">GUARDAR</div>
                </form>  
             </div>
            </div>
        </div>
</div>