
<div class=contenedor>
    <div class="photo"></div>
    
    <div class="formulario">
        <h2>CREA TU EVENTO</h2>
        <div class="textos">
            <div class="text1">
                <form [formGroup] = "myForm" class="form1">

                    <div class="form-group">
                        <input class="form-group" type="text" formControlName="titulo" #input1
                        placeholder="Introduce el título"
                        [ngClass]="{'is-invalid': (myForm.get('titulo').dirty || myForm.get('titulo').touched)
                        && !myForm.get('titulo').valid}">
                        <div id="aviso" *ngIf="!myForm.get('titulo').valid" class="invalid-feedback">El título es necesario.</div>
                    </div>
                    
                    <div class="form-group">                        
                        <select class="form-group" formControlName="categoria" #input2
                            [ngClass]="{'is-invalid': (myForm.get('categoria').dirty || myForm.get('categoria').touched)
                            && !myForm.get('categoria').valid}">                            
                            <option class="option" value="Elige la categoria" selected disabled>Elige la categoria</option> 
                            <option class="option" value="Artesania">Artesanía</option>
                            <option class="option" value="Ganaderia">Ganadería</option>
                            <option class="option" value="Culinario">Culinario</option>
                            <option class="option" value="Agricola">Agrícola</option>
                            </select>
                            <div id="aviso" *ngIf="!myForm.get('categoria').valid" class="invalid-feedback">La categoría es obligatoria.</div>                            
                        </div>
                   
                    <div class="form-group">
                        <input class="form-group" type="text" formControlName="fecha" #input3
                        placeholder="Introduce la fecha aaaa-mm-dd"
                        [ngClass]="{'is-invalid': (myForm.get('fecha').dirty || myForm.get('fecha').touched)
                        && !myForm.get('fecha').valid}">
                        <div id="aviso" *ngIf="!myForm.get('fecha').valid" class="invalid-feedback">La fecha es obligatoria.</div>
                    </div>   
                    
                    <div class="form-group" >
                        <textarea rows="4" cols="150" class="form-group" class="descripcion" type="text" formControlName="descripcion" #input8
                        placeholder="Añade una descripción."
                        [ngClass]="{'is-invalid': (myForm.get('descripcion').dirty || myForm.get('descripcion').touched)
                        && !myForm.get('descripcion').valid}"></textarea>
                        <div id="aviso" *ngIf="!myForm.get('descripcion').valid" class="invalid-feedback">La descripción es obligatoria.</div>
                    </div>
                </form> 
            </div>
            <div class="text2">
                <form [formGroup] = "myForm" class="form2">
                    <div class="form-group">
                        <input class="form-group" type="text" formControlName="municipio" #input4
                        placeholder="Especifíca el municipio"
                        [ngClass]="{'is-invalid': (myForm.get('municipio').dirty || myForm.get('municipio').touched)
                        && !myForm.get('municipio').valid}">
                        <div id="aviso" *ngIf="!myForm.get('municipio').valid" class="invalid-feedback">El municipio es obligatorio.</div>
                    </div> 
                    <div class="form-group">
                        <input class="form-group" type="text" formControlName="localidad" #input5
                        placeholder="Especifíca la localidad"
                        [ngClass]="{'is-invalid': (myForm.get('localidad').dirty || myForm.get('localidad').touched)
                        && !myForm.get('localidad').valid}">
                        <div id="aviso" *ngIf="!myForm.get('localidad').valid" class="invalid-feedback">La localidad es obligatoria.</div>
                    </div>      
                    <div class="form-group">
                        <input class="form-group" type="text" formControlName="aforo" #input6
                        placeholder="Indica el aforo máximo"
                        [ngClass]="{'is-invalid': (myForm.get('aforo').dirty || myForm.get('aforo').touched)
                        && !myForm.get('aforo').valid}">
                        <div id="aviso" *ngIf="!myForm.get('aforo').valid" class="invalid-feedback">El aforo es obligatorio.</div>
                    </div>  
                    <div class="form-group">
                        <input class="form-group" type="text" formControlName="precio" #input7
                        placeholder="Indica el precio por persona"
                        [ngClass]="{'is-invalid': (myForm.get('precio').dirty || myForm.get('precio').touched)
                        && !myForm.get('precio').valid}">
                        <div id="aviso" *ngIf="!myForm.get('precio').valid" class="invalid-feedback">El precio es obligatorio.</div>
                    </div>
                    <div class="form-group">
                        <input class="form-group" type="text" formControlName="imagen" #input9
                        placeholder="Inserta la url de la imagen"
                        [ngClass]="{'is-invalid': (myForm.get('imagen').dirty || myForm.get('imagen').touched)
                        && !myForm.get('imagen').valid}">
                        <div id="aviso" *ngIf="!myForm.get('imagen').valid" class="invalid-feedback">La imagen es obligatoria.</div>
                    </div> 
                    
                    
                    <button type="button" class="boton"(click)="enviar(input1.value, 
                    input2.value, input3.value, input4.value, 
                    input5.value, input6.value, input7.value, input8.value, input9.value)" [disabled]="myForm.invalid"
                    data-bs-toggle="modal" data-bs-target="#modalEvento">GUARDAR</button>

                </form>  
             </div>
        </div>
        
    </div>
</div>


   <!-- Evento Modal
   <div class="modal fade" id="modalEvento" tabindex="-1" aria-labelledby="modalEvento" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modalHeader">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <ng-container *ngIf="eventoCreado == false">
            <div class="modal-body">El evento ya existe.</div>
        </ng-container>
        <ng-container *ngIf="eventoCreado == true">
            <div class="modal-body">Evento creado correctamente.</div>
        </ng-container>
        
    </div>
    </div> -->
<!-- </div> -->
      
    