<div class="contenedor">
    <div class="imagen"></div>

    <div class="quienes">
        <div class="titulo">
            <h1>¿QUIÉN ESTA DETRÁS DE RURALEA?</h1>
        </div>
        <div class="perfiles">    
            <div class="perfil">
                <div class="foto1"></div>
                <div class="informacion1">
                    <h2>Silvia de la Barrera</h2>
                    <h3>Desarrolladora web full stack</h3>
                    <div class="contacto">
                        <div class="correo">
                            <div class="icono" id="correoIcono"></div>
                            <p>sil.delabarrera@hotmail.com</p>
                        </div>
                        <div class="linkedin" >
                            <div class="icono" id="linkedinIcono"></div>   
                            <p>https://www.linkedin.com/in/sil-delabarrera/</p>
                        </div>
                
                    </div>
                </div>
            </div>
            <div class="perfil">
                <div class="foto2"></div>
                <div class="informacion1">
                    <h2>Cristian Redondo</h2>
                    <h3>Desarrollador web full stack</h3>
                    <div class="contacto" id="contacto2">
                        <div class="correo" >
                            <div class="icono" id="correoIcono"></div>
                            <p>dharianfenix@gmail.com</p>
                        </div>
                        <div class="linkedin">
                            <div class="icono"id="linkedinIcono"></div>   
                            <p>https://www.linkedin.com/in/cristian-redondo-44704683/</p>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
