<div class="contenedor">
    <h1>BUSCA TU EXPERIENCIA</h1>
    <div class="buscador">
        <select name="" id="categoria" #categoria>
            <option class="option" value="Elige una categoría" disabled>Elige una categoría</option>
            <option class="option" value="Ver todas las actividades" selected>Ver todas las actividades</option>
            <option class="option" value="Artesanía">Artesanía</option>
            <option class="option" value="Ganadería">Ganadería</option>
            <option class="option" value="Culinario">Culinario</option>
            <option class="option" value="Agrícola">Agrícola</option>
        </select>
        <input type="text" placeholder="Inserta una provincia" #provincia>
        <button (click)="find(categoria.value, provincia.value)" class="buscar">BUSCAR</button>

    </div>
    <div class="cards">
        <ng-container *ngIf="eventos && eventos.length > 0; else NoActividades">
            <div *ngIf="this.evento; else Actividades">
                <app-card [eventoPadre]="evento"></app-card>
            </div>
        </ng-container>

        <ng-template #Actividades>
            <div class="card1" *ngFor="let evento of eventos">
                <app-card [eventoPadre]="evento"></app-card>
            </div>
        </ng-template>
        <ng-template #NoActividades>
            <h2 class="aviso" >
                NO SE ENCONTRARON ACTIVIDADES EN LA PROVINCIA DESEADA   
            </h2>
        </ng-template>

    </div>
</div>