<div class="contenedor">
    <h1>BUSCA TU EXPERIENCIA</h1>
    <div class="buscador">
        <select name="" id="categoria" #categoria>
            <option class="option" value="Elige una categoría" disabled selected>Elige una categoría</option>
            <option class="option" value="Ver todas las actividades">Ver todas las actividades</option>
            <option class="option" value="Artesanía">Artesanía</option>
            <option class="option" value="Ganadería">Ganadería</option>
            <option class="option" value="Culinario">Culinario</option>
            <option class="option" value="Agrícola">Agrícola</option>
        </select>
        <input type="text" placeholder="Inserta una provincia" #provincia>
        <!-- <button class="buscar"(click)="find(categoria.value, provincia.value)">BUSCAR</button> -->
        
    </div>
    <div class="cards">
        <div *ngIf = "this.evento; else Actividades">
            <app-card [eventoPadre] = "evento"></app-card>

        </div> 
        <ng-template #Actividades>
        
            <div class="card1" *ngFor = "let evento of eventoService.getAll()">  
                <app-card [eventoPadre] = "evento"></app-card>
            </div>
        </ng-template>

    </div> 
</div>  
