<div class="contenedor">
    <h1>MIS RESERVAS</h1>
    <div class="botones">
        <button (click)="proximos()">PROXIMOS EVENTOS</button>
        <button (click)="pasados()">EVENTOS PASADOS</button>
    </div>
    <div class="cards">
        <div *ngIf="proximosEventos.length > 0">
            <div class="card1" *ngFor="let evento of proximosEventos">  
                <app-card [eventoPadre]="evento"></app-card>
            </div>
        </div>
        <div *ngIf="eventosPasados.length > 0">
            <div class="card1" *ngFor="let evento of eventosPasados">  
                <app-card [eventoPadre]="evento"></app-card>
            </div>
        </div>
    </div> 
        <!-- <div class="cards">
            <div *ngIf = "this.evento; else Actividades">
                <app-card [eventoPadre] = "evento"></app-card>
    
            </div> 
            <ng-template #Actividades>
            
                <div class="card1" *ngFor = "let evento of reservas">  
                    <app-card [eventoPadre] = "evento"></app-card>
                </div>
            </ng-template>
    
        </div>  -->
</div>  

