<div class="contenedor">
    <h1>MIS RESERVAS</h1>
    <div class="botones">
        <button (click)="proximos()">PROXIMOS EVENTOS</button>
        <button (click)="pasados()">EVENTOS PASADOS</button>
    </div>
   
    <div class="cards">
        <ng-container *ngIf="proximosEventos.length > 0">
            <div class="card1" *ngFor="let evento of proximosEventos">  
                <app-card [eventoPadre]="evento" (deleteReserva)="borrarReserva($event)"></app-card>
            </div>
        </ng-container>

        <ng-container  *ngIf="proximosEventos.length === 0 && eventosPasados.length === 0">
            <h2 class="aviso">No hay eventos reservados.</h2>
        </ng-container>

        <ng-container *ngIf="eventosPasados.length > 0">
            <div class="card1" *ngFor="let evento of eventosPasados">  
                <app-card [eventoPadre]="evento" (deleteReserva)="borrarPasados($event)"></app-card>
            </div>
        </ng-container>
    </div>
</div>  

