<div class="contenedor">

    <div class="cont1">
        <h1 id="titulo">BIENVENIDOS A RURALEA</h1>
        <p id="subtitulo">Plataforma para reconectar con el mundo rural</p>
    </div>
    <div class="cont2">
        <img id="image" src="assets\img\madera.jpeg" alt="">
        <img id="image"  src="assets\img\abejas.jpeg" alt="">
        <img id="image"  src="assets\img\cabras.jpeg" alt="">
        <img id="image" src="assets\img\pan.jpeg" alt="">
        <img id="image" src= "assets\img\huerta.jpeg" alt="">
    </div>
    <div class="cont3">
        <div class="textos">
            <img id="logo" src="/assets/img/logo.png" alt="">
            <div class="prod">
                <div class="part1">
                    <p>¿Eres un productor local que desempeña su oficio en una zona rural y te gustaría potenciar tu visibilidad y dar mayor salida a tu producto?</p>
                    <p class="lema">¡ RURALEA es para ti !</p>
                </div>
                <img id="imagen" src= "assets\img\cuenco.jpeg" alt="">
                    <div class="part2">
                    <p>Regístrate como productor, crea tu nueva historia y compártela con el mundo.</p>  
                    <p> A través de tu cuenta podrás crear eventos donde dar a conocer el valor de tu oficio a los consumidores que deseen adentrarse en el mundo rural. </p>   
                    <div class="button">
                        <button routerLink="/registro">REGÍSTRATE</button>
                    </div>
                </div>
            </div>
            <div class="usu">
                <div class="part3">
                    <p>¿Valoras el producto natural de calidad y te apasiona descubrir nuevos lugares y actividades para salir de la rutina?</p>
                    <p class="lema">¡ RURALEA es tu sitio !</p>

                </div>
                <img id="imagen" src= "assets\img\ovejas.jpeg" alt="">
                <div class="part4">
                    <p>Regístrate como consumidor y accede a experiencias únicas para compartir con los tuyos.</p>   
                    <p> Podrás reservar tu plaza y acudir a diferentes eventos donde aprender oficios rurales y conocer como se elaboran los productos desde su origen.</p>
                    <div class="button">
                        <button routerLink="/registro">REGÍSTRATE</button>
                    </div>
                </div> 
            </div>
        </div>
        <div class="dudas">
            <p>¿TE HA SURGIDO ALGUNA DUDA?</p>
            <p>CONTACTA CON NOSOTROS </p>
            <div class="contacto">
                <p>ruralea.info@ruralea.com</p>
                <p>645 66 93 26</p>
            </div>
        </div>
    </div>
</div>
