/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://db.onlinewebfonts.com/c/2da952d097bffd198ec0f0aa3fdd6804?family=JejuHallasan');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Madimi+One&family=Pacifico&family=Permanent+Marker&family=Reggae+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+80s+Fade&display=swap');

*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --navbarColor: black;
    --negroGrisaceo: #2E2E2E;
    --mostaza:  #FFDB7D;
    --blanco: #FFF6EE;
    --beige: #FFEFDD;
    --marronOscuro: #89603B;
    --links: "ABeeZee", sans-serif;
    --marronMedio: #D8A97F;
    --JejuHallasan: "JejuHallasan";
    --letraBoton: "Acme", sans-serif;
    --inputColor:#FDD9AF;
    --fondoUsuario: #B4A185;
    --grisFondo: rgba(147, 127, 103, 0.20);

}