.contenedor{
    background-color: var(--marronOscuro);
    width: 100%;
    height: fit-content;
    padding-top: 80px;
}
h1{
    height: 100px;
    color:var(--marronMedio);
    font-family: var(--JejuHallasan);
    background-color:rgba(255, 198, 145, 0.33);
    text-align: center;
    padding-top: 25px;
    margin-bottom: 60px;
}
.cards{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding:15px;
    
}